<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK REL=StyleSheet HREF="asset/css/style.css" TITLE="Contemporaneo">
    <script src="js/vue.js"></script>
    <title>Vue Basico</title>
</head>
<body>
    <div id="app">
        <!--Manejo de clases con Bin-->
        <h1 v-bind:class="{ error: errorAction, ok: !errorAction}">Esto es una texto</h1>
        <!--No lo renderiza-->
        <h1 v-if="errorAction">Texto if</h1>
        <!--Lo oculta con css-->
        <h1 v-show="errorAction">Texto Show</h1>

        <div v-html="content_html"></div>
        <img v-bind:src="src" :alt="text" :title="text">
        {{ message }}
        <p>Computed reverse message: "{{ reversedMessage }}"</p>
        <p>{{ calcularSuma(sum, sum) }}</p>
        <p>El valor de sum es: "{{ sum }}"</p>
        <button @click="incremental">++</button>
        <button v-on:click="decremental">--</button>
        <h1 :style="{color:'blue', fontSize: numero+'px'}">Hola Mundo {{ numero }}</h1>

        <!--Actualizamos en dos vias-->
        <input v-model="edad" placeholder="edit me">
        <p>Message is: {{ edad }}</p>


    </div>
    <script src="js/app.js"></script>
</body>
</html>